.success {
  color: rgb(50, 124, 96);
  background: rgb(213, 242, 230);
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0px;
  max-width: 50%;
}

.error {
  color: rgb(143, 46, 46);
  background: rgb(242, 213, 213);
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0px;
  max-width: 50%;
}

.user {
  color: rgb(143, 130, 46);
  background: rgb(242, 236, 213);
  font-size: 15px;
  padding: 5px;
  margin: 20px 0px;
  max-width: 100%;
}

.bloglist {
  margin-top: 30px;
}

.likeButton {
  background-color:rgb(117, 165, 210);
  border-color: rgb(29, 87, 142);
  color: white;
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
}

.likeButton:hover {
  background-color:rgb(29, 87, 142);
  border-color: rgb(29, 87, 142);
  color: white;
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
}

.removeButton {
  background-color:rgb(255, 216, 216);
  border-color: darkred;
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
  margin-top: 10px;
}

.removeButton:hover {
  background-color: rgb(169, 83, 83);
  border-color: rgb(169, 83, 83);
  color: white;
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
  margin-top: 10px;
}
