.success {
  color: rgb(50, 124, 96);
  background: rgb(213, 242, 230);
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0px;
  max-width: 50%;
}

.error {
  color: rgb(143, 46, 46);
  background: rgb(242, 213, 213);
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 0px;
  max-width: 50%;
}

.user {
  color: rgb(143, 130, 46);
  background: rgb(242, 236, 213);
  font-size: 15px;
  padding: 5px;
  margin: 20px 0px;
  max-width: 100%;
}

.bloglist {
  margin-top: 30px;
}